body{
    background-image: url('/imagenes/fondos/fondo.png');
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat;
    }

   /* SECCION ENCABEZADO*/
.encabezado{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    background-image: url('/imagenes/fondos/fondoencabezado.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   }
   .logo img{
    position: absolute;
    top: 20px;
    left: 20px; 
    width: 10vw;
}
h2{font-family: "Roboto Condensed", sans-serif;}
p{
    font-family: "Inter", sans-serif;
}
.redes-header img{
    top: 20px;
    right: 30px;
    width: 10vw;
    position: absolute;   
}

   .encabezado button{
    border: none;
    border-radius: 100px;
    background-color: #FAA100; 
    padding: 1% 3%; 
    margin:5vh;
    font-weight: bold;
    
   }
    .texto-encabezado{ 
    text-align: center;
    position: relative;
    width: 100vw;
    }
    
    .texto-encabezado h1{
    padding:0  10vw;
    font-size:2em;
    font-family:"Raleway", sans-serif; 
    font-optical-sizing: auto;
    font-weight: bolder;     
    color: white;
    text-transform: uppercase; 
    text-shadow:1px 5px 5px rgba(0, 0, 0, 0.637);
}
.texto-encabezado h2{
    padding: 0 10vw;
    color: rgb(182, 179, 179);
    text-align: center;
    text-transform: uppercase; 
    font-weight: 400;
    font-style: italic;  
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 637); 
}


 /* SECCION QUE OFRECEMOS*/
.que-ofrecemos{
    height: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10vh 5vw;    
    overflow: hidden;
}
.text-seccion1{
    width: 40vw;
    display: flex;
    flex-direction: column;
}
.que-ofrecemos h2{
    font-family:"Roboto", sans-serif; 
    font-optical-sizing: auto;
    text-shadow: -2px 2px 0px #FAA100 ;
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 36px;
    margin-left: 2%;
}
.que-ofrecemos p{
    font-weight: lighter;
    font-style: italic; 
    font-size: 30px;
}
.gif{    
    border-radius:100%;
 }


/*.grilla-contenedor{
    background-color: blanchedalmond;
    width: 50%;
    height: 10%;
    display: grid;
    grid-template-columns: [izq] 25% [medio1] 25% [medio2] 25% [der] 25%;
    grid-template-rows: [arb] 33% [medio] 33% [abj] 33% ;
    grid-template-areas: "header-area header-area header-area header-area"
    "main-area main-area . sidebar-area"
    "footer-area footer-area footer-area footer-area";
}
header{background-color: chocolate; grid-area: header-area;}
.main{background-color: aqua; grid-area: main-area;}
.sidebar{background-color: red; grid-area: sidebar-area;}
.pie-footer{background-color: greenyellow; grid-area: footer-area;}*/


.titulos1{
    width: 70vw;
    justify-content: flex-start;
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulos2{
    width: 60vw;
    justify-content: flex-start;
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

 /* SECCION NOVEDADES*/
.novedades{
    padding: 10vh 20vw;
    background-color: rgb(218, 218, 218);
    background-image: url("/imagenes/fondos/fondoclaro.png");
    background-size: cover;
    object-fit: cover;
}

.novedades h2{
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 36px;
    margin-left: 1vw;
    padding: 1vw;
    color: #000;
    text-shadow: -3px 3px 0px #FAA100 ;
    
}

.card-novedades{
    background-color: white;
    box-shadow: 1px 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 300px;
    border: 5px solid rgb(63, 63, 63); 
    flex-wrap: wrap;
    justify-content:space-around;
}
.card-novedades img{
    width: 100%;
    height: 50%;
}
.card-novedades h6{
    padding: 10%;
    text-align: center;
}
.card-novedades p{
    padding: 1% 0%;

}
.contenedor-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60vh;
}

 /* SECCION ENTREVISTAS*/
.entrevistas{
    background-image: url("/imagenes/fondos/fondooscuro.png");
    background-size: cover;
    padding: 10% 20%;
    background-color: rgb(29, 31, 43);
    color: white;

}
.entrevistas h2{
    font-weight: bolder;
    font-size: 36px;
    margin-left: 1vw;
    padding: 1vw;
    text-transform: uppercase; 
    text-shadow: -2px 2px 0px #FAA100 ;
}
.entrevistas img{
    height: 100%;
    object-fit: cover; 
}
.card-body{
    background-image: url(/imagenes/texturas/texturapapel.png);
    
}
 

/* SECCION RECOMENDACIONES*/

.recomendaciones{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("/imagenes/fondos/fondoclaro.png");
    background-size: cover;
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    color: black;
    align-items: center;
    align-content: stretch
}
.recomendaciones h2{

    font-weight: bolder;
    font-size: 36px;
    text-shadow: -3px 3px 0px #FAA100 ;
    padding: 1vw;
    text-transform: uppercase; 
}
.recomendaciones p{
    display: flex;
    padding: 0;
}
.recomendaciones .titulos2{
    padding-left: 7vh;
}

.grilla-contenedor-card-recomendaciones{
    align-items: stretch;
    width: 50vw;
    height: 50vh;
    display: grid;
    column-gap: 20px;
    row-gap: 25px;
    grid-template-columns: [izq] 35% [medio1] 35% [der] 35%;
    grid-template-rows: [arb] 33% [abj] 33% ;
    margin: 20px auto; /* Centramos el contenedor horizontalmente */
    grid-template-areas: 
      "card-r-1 card-r-1 card-r-3"
      "card-r-2 card-r-2 card-r-3";  
  }
 

@media (max-width: 768px) {

    .recomendaciones{
        width: 100vw;
        height: 100vh;
        align-items: center;
        background-size:contain;
        background-repeat:inherit;
    }

    .grilla-contenedor-card-recomendaciones {
        object-fit: cover;
        width: 70vw;
        height: 80vh;
        grid-template-columns:  70%; /* En pantallas pequeñas, solo una columna */
        grid-template-rows: [arb] 33% [med] 33% [abj] 33% ;
        grid-template-areas: 
      "card-r-1"
      "card-r-2"
      "card-r-3";  
    }

    .recomendaciones h2{
        font-size: 26px;       
    }

}

#card-r-1 {
    grid-area: card-r-1 ;
}
#card-r-2 {
    grid-area: card-r-2 ;
}
#card-r-3 {
    grid-area: card-r-3 ;
}

.card-recomendaciones{
    border-radius: 25px;
    align-content: stretch;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.card-recomendaciones img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;

}
.categoria p{
    width: 5vw;
    height: 3vh;
    border-radius: 100px;
    font-size: small;
    font-style: normal;
    background-color: #FAA100;
    position: relative;
    top: 6vh;
    left: 1vw;
    color: #000;
    align-items: center;
    justify-content: center;
}
.texto-recom{
    position: absolute;
    bottom: 0.5px;
    left: 0%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: white;

}

 /* SECCION FORMULARIO/CALL TO ACTION*/
.cta{
    color: rgb(255, 255, 255);
    padding: 10%;
    background-color: black;
}
.texto-formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.cta h2{
    font-weight: bolder;
    font-size: 36px;
    text-transform: uppercase; 
    margin-left: 1vw;
    text-shadow: -3px 3px 0px #FAA100 ;
}


#formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-input-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

input {
    border: 1px solid white;
    background-color: transparent;
    width: 300px;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 25px;
}
.contenedor-desplegables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;}

select { 
    border-radius: 25px; 
    border: 1px solid white; 
    background-color: transparent; 
    color: white;
    padding: 10px; 
    margin: 10px;
    width: 300px;
}
option{
    background-color: transparent; 
    color: #000;
   }


/*MULTIPLESELECT - DEPLEGABLE DE CHECKBOXES*/
label{
    display: block;
    font-size:18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
    padding: 20px; 
}

#multipleSelect{
    
    max-width:100% ;
    width: 300px;
    border-radius: 25px;
}
.vscomp-toggle-button{
    background-color: transparent;
    color: white;
    padding:10px 30px 10px 10px ;
    border-radius: 25px;
    border:2px solid white;
}
.vscomp-arrow::after{
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-right-color: white;
}
.contenedor-datos{
    width: 80vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
}

#boton-enviar {
    background-color: #FAA100;
    border: none;
    border-radius: 25px;
    color: #000;
}

.feedback{
     width: 100vw;
    height: 200PX;
    background-image: url(/imagenes/texturas/texturapapel.png);
    color: #000;
    padding: 10vw;
    font-weight: bold;
    font-style: italic;
}
.oculto{
    display: none !important;
}

footer{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    box-shadow: 0px -3px 5px 5px rgba(255, 0, 0, 0.3);
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
footer h6 h5{
    font-weight: lighter;
    font-style: italic;
    }
    footer h5{
        color: red;
    }

footer button{
    border: none;
    border-radius: 100px;
    background-color: #FAA100; 
    padding: 1% 3%; 
    margin: 5vh;
    font-weight: bold;
   }
   .redes {
    font-weight: lighter;
    font-style: italic;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    width: 100;
    height: auto;
}

.boton-cta{
    font-weight: lighter;
    font-style: italic;
    top: 10px;
    margin: 50px;
    width: 20vw;
    height:5vh ;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.boton-cta button{
    margin:5px
}

footer h6 h5{
    font-size: smaller;
    font-weight: lighter;
    font-style: italic;
}
@media (max-width: 768px){
    .boton-cta{
        top: 1vh;
        margin: 1vh;
        width: 20vw;
        height:3vh ;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    footer h6 h5{
        font-size: smaller;
        font-weight: lighter;
        font-style: italic;
    }
}
  /* Media query para dispositivos con un ancho máximo de 500px */
  @media only screen and (max-width: 500px) {
    .encabezado{
        background-image: url("/imagenes/fondos/encabezado.png") ;
    }
    .texto-encabezado h1{
        font-size: 20px;
    }
    .texto-encabezado h2{
        font-size: 16px;
    }
    p {
        font-size: 10px;
        font-family:"inter", sans-serif;
        font-style: italic;
    }
    .que-ofrecemos{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5vh 1vw;
    }
    .gif{
        width: 30%;
        height: auto;
    }
    .que-ofrecemos h2 {
        font-size: 16px;
    }
    .que-ofrecemos p {
        font-size: 10px;
    }
    .novedades{
        padding: 5vh 2vw;  
    }
    .entrevistas{
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 5vh 2vw;
        background-color: #000;
        background-image: none;
    }
    .titulos1{
        display: flex;
        flex-direction: row;
        width: 50vw; 
        padding: 10vw ;
        justify-content: center;
      }
    
    .titulos2{
        display: flex;
        flex-direction: row;
        width: 100vw; 
        padding: 10vw ;
        justify-content: center;
    }
    .novedades{
        background-image: url("/imagenes/fondos/cintablanca\ mobile.png");
        background-size: contain;
        display: grid;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .novedades p{
        width: 60vw;
        padding: 2vh;
        font-size: 13px;
    }
    .novedades .row{
        align-items: center;
        flex-direction: column;
    }
    .novedades .col-sm-3{
        width: 50vw;
    }
    .card h-100{
        width: 30vw;
        height: 30vh;
        margin: 2vh;
        }
    .card-title{
        font-size: 12px;
    }
    .entrevistas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 20vw;
    }
    .recomendaciones{
        height: auto;
        background-color: #fff;
        background-image: none;
    }
    .grilla-contenedor-card-recomendaciones{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 0%;
        row-gap:0;
    }
    .recomendaciones .titulos2{
        flex-direction: row;
        justify-content: center;
      
    }
    .card-recomendaciones{
        height: 100%;
        top:-2vh;
    }
    .card-recomendaciones{
        height: 100%;
        top:-2vh;
    }
    .card-recomendaciones img{
        height: 100%;
        width: 100%;
    }
    .card-recomendaciones h4{
        font-size: 12px;
    }
    .categoria{
        top: 20px;
        margin: 0%;
    }
    .categoria p{
        left: 10px;
        width: 15vw;
    }
    .cta .titulos1{
        align-items: center;
        display: flex;
        flex-direction:row;
        justify-content: center;
        width: 50vw;
        height: 5vh;
    }
    .cta h2{
        font-size: 16px;
    }
    footer{
        padding: 2vw;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;
        box-shadow: 0px -3px 5px 5px rgba(255, 0, 0, 0.3);
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }
    .redes{
            font-size:3px ;
            font-weight: lighter;
            font-style: italic;
            width: 5vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
     } 
    
     .redes img{
        width: 10vw;
     }
    
     .logo-footer{
        align-items: center;
        width: 10vw;
        height: auto;
    }
    .logo-footer img{
        width: 20vw;
        height: auto;
    }
    
    .boton-cta{
        width: 30vw;
        height: auto;
        margin: 0%;
        padding: 0%;
        font-size: 10px;
    }
    
    .boton-cta h6{
        font-size: 10px;
        font-weight: lighter;
        font-style: italic;
    }
    
    .boton-cta button{
        margin:5px
    }
    .redes h5{
        font-size:12px ;
        font-weight: lighter;
        font-style: italic;
        color: red;
    }
}
/* Media query para dispositivos con un ancho minimo de 500px */
@media only screen and (min-width: 500px){  
    .encabezado{
        background-image: url("/imagenes/fondos/encabezado2.png") ;
    }
        h1{
        font-size: 35px;
       }
       h2{
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        }  
       p {
        font-family:"inter", sans-serif ;                                                    
        font-size: 14px;
        font-style: italic;
       }
        .que-ofrecemos{ 
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5vh 1vw;
    }
    .gif{
        width: 50%;
        height: auto;
    }
       .que-ofrecemos h2 {
        font-size: 26px;
    }
       .que-ofrecemos p {
        font-size: 14px;
    }
    .titulos1{
        width: 60vw;
      }
    
    .titulos2{
        padding: 2vw;
        width: 60vw;  
    }
    .novedades{
        background-color: #fff;
        background-image: none;
    }
    .novedades .row{
        align-items: center;
        flex-direction: column;
    }
    .novedades .col-sm-3{
        width: 50vw;
    }
    .card-title{
        font-size: 16px;
    }
    .card h-100{
    width: 50vw;
    height: 50vh;
    }
    .entrevistas{
        background-color:#000;
        background-image: none;
    }
    .recomendaciones{
        height: auto;
        background-color: #fff;
        background-image: none;
    }
    .grilla-contenedor-card-recomendaciones{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .recomendaciones .titulos2{
        flex-direction: row;
        justify-content: center;
      
    }
    .card-recomendaciones{
        height: 30vh;
        top:-5vh;
    }
    .recomendaciones p{
    margin: 2vh;
    }
    .card-recomendaciones h4{
        font-size: 14px;
    }
    .categoria{
        top: 20px;
        margin: 0%;
    }
    .categoria p{
        left: 15px;
        width: 15vw;
    }
    .cta h2{
        font-size: 26px;        

    }
    footer{
    padding: 2vw;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    box-shadow: 0px -3px 5px 5px rgba(255, 0, 0, 0.3);
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.redes{
        font-size:3px ;
        font-weight: lighter;
        font-style: italic;
        width: 5vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
 } 

 .redes img{
    width: 10vw;
 }

 .logo-footer{
    align-items: center;
    width: 10vw;
    height: auto;
}
.logo-footer img{
    width: 20vw;
    height: auto;
}

.boton-cta{
    width: 30vw;
    height: auto;
    margin: 0%;
    padding: 0%;
    font-size: 10px;
}

.boton-cta h6{
    font-size: 10px;
    font-weight: lighter;
    font-style: italic;
}

.boton-cta button{
    margin:5px
}
.redes h5{
    font-size:12px ;
    font-weight: lighter;
    font-style: italic;
    color: red;
}
.recomendaciones{
    width: 100vw;
    height: auto;
    align-items: center;
    background-size:contain;
    background-repeat:inherit;
}

.grilla-contenedor-card-recomendaciones {
    object-fit: cover;
    width: 70vw;
    height: 80vh;
    grid-template-columns:  70%; /* En pantallas pequeñas, solo una columna */
    grid-template-rows: [arb] 33% [med] 33% [abj] 33% ;
    grid-template-areas: 
  "card-r-1"
  "card-r-2"
  "card-r-3";  
}

.recomendaciones h2{
    font-size: 26px;       
}

}

/* Media query para dispositivos con un ancho mínimo de 1200px */
@media only screen and (min-width: 1200px) {
    .encabezado{
        background-image: url('/imagenes/fondos/fondoencabezado.png');
    }
    h1{
     font-size: 47px;
    }
    h2{
        font-size: 36px;
        font-family: "Roboto", sans-serif;
       }
    p {
        font-family:"inter", sans-serif ;
        font-size: 18px;
        font-style: italic;
    }
    .titulos1{
        width: 70vw;
      }
    
    .titulos2{
        width: 70vw;  
    }
    .que-ofrecemos h2 {
        font-size: 36px;
    }
    .que-ofrecemos p {
        font-size: 18px;
    }
.novedades h2{
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 36px;
    margin-left: 1vw;
    padding: 1vw;
    color: #000;
    text-shadow: -3px 3px 0px #FAA100 ;
    
}

.card-novedades{
    background-color: white;
    box-shadow: 1px 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 300px;
    border: 5px solid rgb(63, 63, 63); 
    flex-wrap: wrap;
    justify-content:space-around;
}
.card-novedades img{
    width: 100%;
    height: 50%;
}
.card-novedades h6{
    padding: 10%;
    text-align: center;
}
.card-novedades p{
    padding: 1% 0%;

}
.contenedor-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60vh;
}
    .grilla-contenedor-card-recomendaciones{
        align-items: stretch;
        width: 50vw;
        height: 50vh;
        display: grid;
        column-gap: 20px;
        row-gap: 25px;
        grid-template-columns: [izq] 35% [medio1] 35% [der] 35%;
        grid-template-rows: [arb] 33% [abj] 33% ;
        margin: 20px auto; /* Centramos el contenedor horizontalmente */
        grid-template-areas: 
          "card-r-1 card-r-1 card-r-3"
          "card-r-2 card-r-2 card-r-3";  
      }
      .card-recomendaciones{
        border-radius: 25px;
        align-content: stretch;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    .card-recomendaciones img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    
    }
    .categoria p{
        width: 5vw;
        height: 3vh;
        border-radius: 100px;
        font-size: small;
        font-style: normal;
        background-color: #FAA100;
        position: relative;
        top: 6vh;
        left: 1vw;
        color: #000;
        align-items: center;
        justify-content: center;
    }
    .texto-recom{
        position: absolute;
        bottom: 0.5px;
        left: 0%;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        color: white;
    
    }
    
}
