

/*1) Hay imágenes que no cargan, no está encontrando bien los archivos
2) Hay secciones (sobre todo Noticias) que no respetan el diseño

   /* SECCION ENCABEZADO*/
.encabezado{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    background-image: url('../imagenes/fondos/fondoencabezado.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   }
   .logo img{
    position: absolute;
    top: 20px;
    left: 20px; 
    width: 10vw;
}
h2{font-family: "Roboto Condensed", sans-serif;}
p{
    font-family: "Inter", sans-serif;

}
.redes-header img{
    top: 20px;
    right: 30px;
    width: 10vw;
    position: absolute;   
}

   .encabezado button{
    border: none;
    border-radius: 100px;
    background-color: #FAA100; 
    padding: 1% 3%; 
    margin:5vh;
    font-weight: bold;
   }
   .encabezado button:hover{
    background-color: red; 
   }

    .texto-encabezado{ 
    text-align: center;
    position: relative;
    width: 100vw;
    }
    
    .texto-encabezado h1{
    padding:0  10vw;
    font-size:2em;
    font-family:"Raleway", sans-serif; 
    font-optical-sizing: auto;
    font-weight: bolder;     
    color: white;
    text-transform: uppercase; 
    text-shadow:1px 5px 5px rgba(0, 0, 0, 0.637);
}
.texto-encabezado h2{
    padding: 0 10vw;
    color: rgb(182, 179, 179);
    text-align: center;
    text-transform: uppercase; 
    font-weight: 400;
    font-style: italic;  
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 637); 
}


 /* SECCION QUE OFRECEMOS*/
.que-ofrecemos{
    height: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10vh 5vw;    
    overflow: hidden;
}
.text-seccion1{
    width: 25vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
}
.que-ofrecemos h2{
    font-family:"Roboto", sans-serif; 
    font-optical-sizing: auto;
    text-shadow: -2px 2px 0px #FAA100 ;
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 40px;
    margin-left: 2%;
}
.que-ofrecemos p{
    font-weight: lighter;
    font-style: italic; 
    font-size: 30px;
}
.gif{    
    border-radius:100%;
 }



.titulos1{
    width: 70vw;
    justify-content: flex-start;
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulos2{
    width: 60vw;
    justify-content: flex-start;
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parrafo-inferior p{
    font-size: 18px;
}
 /* SECCION NOVEDADES*/
.novedades{
    padding: 10vh 20vw;
    background-color: rgb(218, 218, 218);
    background-image: url("../imagenes/fondos/fondoclaro.png");
    background-size: cover;
    object-fit: cover;
}
.novedades p{
    color: #49454F;
}

.novedades h2{
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 36px;
    margin-left: 1vw;
    padding: 1vw;
    color: #000;
    text-shadow: -3px 3px 0px #FAA100 ;
}

.novedades .card-body{
background-color: white;
background-image: none;
}
.card-novedades{
    background-color: white;
    box-shadow: 1px 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 300px;
    border: 5px solid rgb(63, 63, 63); 
    flex-wrap: wrap;
    justify-content:space-around;
}
.card-novedades img{
    width: 100%;
    height: 50%;
}
.card-novedades h6{
    padding: 10%;
    text-align: center;
}
.card-novedades p{
    padding: 1% 0%;

}
.contenedor-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60vh;
}

 /* SECCION ENTREVISTAS*/
.entrevistas{
    background-image: url("../imagenes/fondos/fondooscuro1.png");
    background-size: cover;
    padding: 10% 20%;
    background-color: rgb(29, 31, 43);
    color: white;

}
.entrevistas h2{
    font-weight: bolder;
    font-size: 36px;
    margin-left: 1vw;
    padding: 1vw;
    text-transform: uppercase; 
    text-shadow: -2px 2px 0px #FAA100 ;
}
.entrevistas img{
    height: 100%;
    object-fit: cover; 
}
.card-body{
    background-image: url("../imagenes/texturas/texturapapel.png");
    
}
 

/* SECCION RECOMENDACIONES*/

.recomendaciones{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../imagenes/fondos/fondoclaro.png");
    background-size: cover;
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    color: black;
    align-items: center;
    align-content: stretch
}
.recomendaciones h2{

    font-weight: bolder;
    font-size: 36px;
    text-shadow: -3px 3px 0px #FAA100 ;
    padding: 1vw;
    text-transform: uppercase; 
}
.recomendaciones p{
    display: flex;
    padding: 0;
    color: #49454F;
    
}
.recomendaciones .titulos2{
    padding-left: 7vh;
    display: flex;
    flex-direction: row;
}

.grilla-contenedor-card-recomendaciones{
    align-items: stretch;
    width: 50vw;
    height: 50vh;
    display: grid;
    column-gap: 20px;
    row-gap: 25px;
    grid-template-columns: [izq] 35% [medio1] 35% [der] 35%;
    grid-template-rows: [arb] 33% [abj] 33% ;
    margin: 20px auto; /* Centramos el contenedor horizontalmente */
    grid-template-areas: 
      "card-r-1 card-r-1 card-r-3"
      "card-r-2 card-r-2 card-r-3";  
  }
 

@media (max-width: 768px) {

    .recomendaciones{
        width: 100vw;
        height: 100vh;
        align-items: center;
        background-size:contain;
        background-repeat:inherit;
    }

    .grilla-contenedor-card-recomendaciones {
        object-fit: cover;
        width: 70vw;
        height: 80vh;
        grid-template-columns:  70%; /* En pantallas pequeñas, solo una columna */
        grid-template-rows: [arb] 33% [med] 33% [abj] 33% ;
        grid-template-areas: 
      "card-r-1"
      "card-r-2"
      "card-r-3";  
    }

    .recomendaciones h2{
        font-size: 26px;       
    }

}

#card-r-1 {
    grid-area: card-r-1 ;
}
#card-r-2 {
    grid-area: card-r-2 ;
}
#card-r-3 {
    grid-area: card-r-3 ;
}

.card-recomendaciones{
    border-radius: 25px;
    align-content: stretch;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.card-recomendaciones img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;

}
.categoria p{
    width: 5vw;
    height: 3vh;
    border-radius: 100px;
    font-size: small;
    font-style: normal;
    background-color: #FAA100;
    position: relative;
    top: 6vh;
    left: 1vw;
    color: #000;
    align-items: center;
    justify-content: center;
}
.texto-recom{
    position: absolute;
    bottom: 0.5px;
    left: 0%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: white;

}

 /* SECCION FORMULARIO/CALL TO ACTION*/

.cta{
    color: rgb(255, 255, 255);
    padding: 10%;
    background-image: url("../imagenes/texturas/fondoformulario.png");
    background-size:cover;
    
}
.texto-formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.cta h2{
    font-weight: bolder;
    font-size: 36px;
    text-transform: uppercase; 
    margin-left: 1vw;
    text-shadow: -3px 3px 0px #FAA100 ;
}


#formulario{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-input-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

input {
    border: 1px solid white;
    background-color: transparent;
    width: 300px;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 25px;
}
.contenedor-desplegables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;}

select { 
    border-radius: 25px; 
    border: 1px solid white; 
    background-color: transparent; 
    color: white;
    padding: 10px; 
    margin: 10px;
    width: 300px;
}
option{
    background-color: transparent; 
    color: #000;
   }


/*MULTIPLESELECT - DEPLEGABLE DE CHECKBOXES*/
label{
    display: block;
    font-size:18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
    padding: 20px; 
}

#multipleSelect{
    
    max-width:100% ;
    width: 300px;
    border-radius: 25px;
}
.vscomp-toggle-button{
    background-color: transparent;
    color: white;
    padding:10px 30px 10px 10px ;
    border-radius: 25px;
    border:2px solid white;
}
.vscomp-arrow::after{
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-right-color: white;
}
.contenedor-datos{
    width: 80vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
}

#boton-enviar {
    background-color: #FAA100;
    border: none;
    border-radius: 25px;
    color: #000;
}
#boton-enviar:hover{
    background-color:red;
}


/*MODAL-FEEDBACK*/

.modal{
    background-color: transparent;
    border: none;
    width: 80vw;
}
.modal-dialog {
    width: 80vw;
  }
.modal-content {
    padding-top: 7%;
    width: 712px;
    height: 400px;
    background-color: transparent;
    background-image: url('../imagenes/texturas/Feedback.png');
    background-size: cover;
    border: none;
    align-items: center;
}
.modal-title{
    font-weight: bolder;
    font-size: 40px;
}
.modal-body{
    padding-top: 15%;
    width: 30vw;
}
.modal-body p{
    font-weight: light;
    font-size: 20px;
}

.feedback{
    width: 100vw;
    height: 200PX;
    background-color: white;
    background-image: url('../imagenes/texturas/Feedback.png');
    background-size: contain;
    color: #000;
    padding: 10vw;
    font-weight: bold;
    font-style: italic;
}
.feedback span{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.oculto{
    display: none !important;
}

footer{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #14141B;
    color: white;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
footer p{
    font-style: normal;
}
footer h5{
    font-weight: lighter;
    font-style: italic;
    color: #FAA100;
    }
   
footer button{
    border: none;
    border-radius: 100px;
    background-color: #FAA100; 
    padding: 1% 3%; 
    margin: 5vh;
    font-weight: bold;
   }
   .redes {
    font-weight: lighter;
    font-style: italic;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    display: flex;flex-direction: column;
    align-items: center;
    align-content: center;
    width: 200;
    height: auto;
}

@media (max-width: 768px){
    .boton-cta{
        top: 1vh;
        margin: 1vh;
        width: 20vw;
        height:3vh ;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    footer h5{
        font-size: smaller;
        font-weight: lighter;
        font-style: italic;
    }
}
  /* Media query para dispositivos con un ancho máximo de 500px */
  @media only screen and (max-width: 500px) {
    .encabezado{
        background-image: url("../imagenes/fondos/encabezadomobile.png") ;
    }
    .logo{
        display: none;
    }
    .logo img{
        position: absolute;
        top: 20px;
        left: 20px; 
        width: 20vw;
    }
    .redes-header img{
        display:none;  
    }
    .texto-encabezado h1{
        font-size: 20px;
    }
    .texto-encabezado h2{
        font-size: 16px;
    }
    p {
        font-size: 10px;
        font-family:"inter", sans-serif;
        font-style: italic;
    }
    .parrafo-inferior{
    display:none;
    }
    .que-ofrecemos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3vh 0,5vw;
    }
    .text-seccion1{
        width: 25vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        margin: 0vh 5vw;
    }
    .barra{
        margin-bottom: 13vh;
        height: 13vh;
    }
    .gif{
        display:none;
    }
    .que-ofrecemos h2 {
        font-size: 16px;
    }
    .que-ofrecemos p {
        font-size: 10px;

    }
    .novedades{
        padding: 5vh 2vw;  
        background-image: url("../imagenes/fondos/fondoblanco.png");
    }
    .entrevistas{
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 5vh 2vw;
        background-color: #000;
        background-image: url("../imagenes/fondos/fondooscuromobile.png");
    }
    .titulos1{
        display: flex;
        flex-direction: row;
        width: 50vw; 
        padding: 10vw ;
        justify-content: center;
      }
      .titulos1 h2{
        font-size: 16px;
      }
      .titulos1 p{
        font-size: 11px;
      }
    
    .titulos2 h2{
      font-size: 16px;
    }
    .titulos2 p{
      font-size: 11px;
    }
    
    .titulos2{
        display: flex;
        flex-direction: row;
        width: 100vw; 
        padding: 10vw ;
        justify-content: center;
    }
    .novedades{
        background-image: url("../imagenes/fondos/cintablanca\ mobile.png");
        background-size: cover;
        display: grid;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .novedades p{
        width: 60vw;
        padding: 2vh;
        font-size: 13px;
    }
    .novedades .row{
        align-items: center;
        flex-direction: column;
    }
    .novedades .col-sm-3{
        width: 50vw;
    }


    #card-4, #card-3, #card-2{
        display:none;

    }
    .card h-100{
        width: 30vw;
        height: 30vh;
        margin: 2vh;
        }


    .card-title{
        font-size: 12px;
    }
    .entrevistas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 20vw;
        background-image: url("../imagenes/fondos/fondooscuromobile.png");
        background-size: contain;
    }
    
    .recomendaciones{
        height: auto;

        background-image: url("../imagenes/fondos/fondoblanco.png");
    }
    .grilla-contenedor-card-recomendaciones{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 0%;
        row-gap:0;
    }
    .recomendaciones .titulos2{
        flex-direction: row;

      
    }
    .card-recomendaciones{
        height: 100%;
        top:-2vh;
    }
    .card-recomendaciones{
        height: 100%;
        top:-2vh;
    }
    .card-recomendaciones img{
        height: 100%;
        width: 100%;
    }
    .card-recomendaciones h4{
        font-size: 12px;
    }
    .categoria{
        top: 20px;
        margin: 0%;
    }
    .categoria p{
        left: 10px;
        width: 15vw;
    }
    #formulario {
        width: 100vw;
    }
.cta{
    background-image: url("../imagenes/texturas/fondoformulariomobile.png");
    background-size: cover;
}
    .cta .titulos1{
        align-items: center;
        display: flex;
        flex-direction:row;
        justify-content: center;
        width: 50vw;
        height: 5vh;
    }
    .cta h2{
        font-size: 16px;
    }


    .contenedor-datos {
        width: 80vw;
        padding: 5%;
        display: flex;
        /* gap: 20px 20px; */
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* align-items: center; */
    } 
    button, input, optgroup, select, textarea {
        /* margin: 0; */
        /* font-family: inherit; */
        font-size: inherit;
        line-height: inherit;
    }
    footer{
        padding: 2vw;
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: space-around;
        background-color: #14141B;
        color: white;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .redes{
            font-size:3px ;
            font-weight: lighter;
            font-style: italic;
            width: 50vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
     } 
    .redes-desktop{
        display: none;
    }
     .redes img{
        width: 60vw;
        margin: 2vh;
     }
     .español img{
            width: 10vw;
            height: 5vh;
     }
    
     .logo-footer{
        align-items: center;
        width: 20vw;
        height: auto;
    }
    .logo-footer img{
        width: 20vw;
        height: auto;
    }
    
   
    .redes h5{
        font-size:12px ;
        font-weight: lighter;
        font-style: italic;
    }
}
/* Media query para dispositivos con un ancho minimo de 500px */
@media only screen and (min-width: 500px){  
    .encabezado{
        background-image: url("../imagenes/fondos/encabezadotablet.png") ;
    }
    .logo{
        display: none;
    }
    .redes-header img{
        display:none;  
    } 
        h1{
        font-size: 35px;
       }
       h2{
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        }  
       p {
        font-family:"inter", sans-serif ;                                                    
        font-size: 14px;
        font-style: italic;
       }
       .parrafo-inferior{
        display:flex;
        font-size: 14px;
        }
        .que-ofrecemos{ 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5vh 1vw;
    }
    .barra{
        margin-top: 10vh;
        height: 20vh;
    }
    .gif{
        display:none;
    }
    .text-seccion1{
        margin: 2vh;
    }
       .que-ofrecemos h2 {
        font-size: 26px;
    }
       .que-ofrecemos p {
        font-size: 14px;
    }
    .titulos1{
        width: 60vw;
      }
    
    .titulos2{
        padding: 2vw;
        width: 60vw;  
    }
    .novedades{
        background-color: #fff;
        background-image: url("../imagenes/fondos/fondoblanco.png");
    }
    .novedades .row{
        flex-direction: row;
        justify-content: space-between;
    }
    .novedades .col-sm-3{
        width: 30vw;
    }

    #card-4, #card-3{
        display:none;

    }
    .card-title{
        font-size: 16px;
    }
    .card h-100{
    width: 50vw;
    height: 50vh;
    }
    .entrevistas{
        background-color:#000;
        background-image: url("../imagenes/fondos/fondooscuro1.png");
        background-size: contain;
    }

    

    .recomendaciones{
        height: auto;
        background-color: #fff;
        background-image: url("../imagenes/fondos/fondoclarodesktop.png");
        background-size: contain;
        background-repeat: no-repeat;

    }
    .recomendaciones .titulos2{
        padding-left: 7vw;
        font-size: 30px;
    }
    .grilla-contenedor-card-recomendaciones{
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .recomendaciones .titulos2{
        flex-direction: row;
        font-size: 20px;
    }
    .card-recomendaciones{
        height: 30vh;
        top:-5vh;
    }
    .recomendaciones p{
    margin: 2vh;
    }
    .card-recomendaciones h4{
        font-size: 14px;
    }
    .categoria{
        top: 20px;
        margin: 0%;
    }
    .categoria p{
        left: 15px;
        width: 15vw;
    }
    .cta h2{
        font-size: 26px;        

    }
    .cta{
        background-image: url("../imagenes/texturas/fondoformulariotablet.png");
        background-size: cover;
    }
    footer{
    padding: 2vw;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.redes{
        font-size:3px ;
        font-weight: lighter;
        font-style: italic;
        width: 30vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
 } 

 .redes img{
    width: 20vw;
    margin: 2vh;
 }
 .redes h5{
    font-size: 26px;
 }
.redes-desktop{
    display: none;
}
 .logo-footer{
    align-items: center;
    width: 10vw;
    height: auto;
}
.logo-footer img{
    width: 10vw;
    height: auto;
}

footer{
    background-color: #14141B;
}
footer p{
    font-size: small;
}
.redes h5{
    font-size:14px ;
    font-weight: lighter;
    font-style: italic;
}
.recomendaciones{
    width: 100vw;
    height: auto;
    align-items: center;
    background-size:contain;
    background-repeat:inherit;
}

.grilla-contenedor-card-recomendaciones {
    object-fit: cover;
    width: 70vw;
    height: 80vh;
    grid-template-columns:  70%; /* En pantallas pequeñas, solo una columna */
    grid-template-rows: [arb] 33% [med] 33% [abj] 33% ;
    grid-template-areas: 
  "card-r-1"
  "card-r-2"
  "card-r-3";  
}


}

/* Media query para dispositivos con un ancho mínimo de 1200px */
@media only screen and (min-width: 1200px) {
    .encabezado{
        background-image: url('../imagenes/fondos/fondoencabezado.png');
    } .logo{
        display: flex;
    }
    .redes-header img{
        display: flex;
        top: 20px;
        right: 30px;
        width: 10vw;
        position: absolute;   
    }
    h1{
     font-size: 47px;
    }
    h2{
        font-size: 40px;
        font-family: "Roboto", sans-serif;
       }
    p {
        font-family:"inter", sans-serif ;
        font-size: 30px;
        font-style: italic;
    }
    .parrafo-inferior{
        display:flex;
        font-size: 18px;
        }
    
    .gif{
        display:flex;
    }
    .titulos1{
        width: 70vw;
      }
      .titulos1 .titulos2 h2{
        font-size: 40px;
      }
      .titulos1 .titulos2 p{
        font-size: 30px;
        padding: 1vh;
      }
    
    .titulos2{
        font-size: 40px;
        width: 70vw;  
    }
    .que-ofrecemos{
        height: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding: 10vh 5vw;    
        overflow: hidden;
    }
    .barra{
        height: 25vh;
    }
    .text-seccion1{
        width: 25vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        margin: 0vh 5vw;
    }
    .que-ofrecemos h2 {
        font-size: 40px;
    }
    .que-ofrecemos p {
        font-size: 30px;
    }
    .gif{
        width: 30vw;
    }
    .novedades{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../imagenes/fondos/fondoclarodesktop.png");
    }
    .novedades h2{
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 40px;
    margin-left: 1vw;
    padding: 1vw;
    color: #000;
    text-shadow: -3px 3px 0px #FAA100 ;
    }

#card-4, #card-3, #card-2{
    display:flex;

}
.novedades .row{
    padding: 0% ;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    height: 40vh;
    margin: 2vw;
}
.novedades .card h-100{
    width: 7vw;
    height: 20vh;
    border-radius: 25%;
}
.card img{
    height: 70%;
    
}
.novedades .col-sm-3 {
    width: 15vw;
}
.card-novedades{
    background-color: rgb(2, 2, 2);
    box-shadow: 1px 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 300px;
    border: 5px solid rgb(63, 63, 63); 
    flex-wrap: wrap;
    justify-content:space-around;
}
.card-novedades img{
    width: 100%;
    height: 50%;
}
.card-novedades h6{
    padding: 10%;
    text-align: center;
}
.card-novedades p{
    padding: 1% 0%;

}
.contenedor-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60vh;
}
 .entrevistas{
    background-image: url("../imagenes/fondos/fondooscuro1.png");
    background-size: cover;
 }
.entrevistas .card{
    height: 20vh;
    background-size: cover;
}
.entrevistas .card img{
    height: 100%; 
}
.entrevistas .card-title{
    font-size: 26px;
}
.entrevistas .card-text{
    font-size: 20px;
}
.entrevistas .parrafo-inferior p{
    font-size: 18px;
}
.recomendaciones{
    background-image: url("../imagenes/fondos/fondoclarodesktop.png");
    background-size: cover;
}
.recomendaciones .titulos2{
    font-size: 40px;
    padding-left: 10vw;
}

    .grilla-contenedor-card-recomendaciones{
        align-items: stretch;
        width: 50vw;
        height: 50vh;
        display: grid;
        column-gap: 20px;
        row-gap: 10px;
        grid-template-columns: [izq] 35% [medio1] 35% [der] 35%;
        grid-template-rows: [arb] 50% [abj] 50% ;
        margin: 20px auto; /* Centramos el contenedor horizontalmente */
        grid-template-areas: 
          "card-r-1 card-r-1 card-r-3"
          "card-r-2 card-r-2 card-r-3";  
      }
      .card-recomendaciones{
        border-radius: 25px;
        align-content: stretch;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .card-recomendaciones img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    
    }

    #card-r-1 .card-recomendaciones{
        height: 50vh;
    }
    
    #card-r-1 #card-r-2{
        height: 100%;
        object-fit: cover;
    }
    .categoria p{
        width: 5vw;
        height: 3vh;
        border-radius: 100px;
        font-size: small;
        font-style: normal;
        background-color: #FAA100;
        position: relative;
        left: 1vw;
        color: #000;
        align-items: center;
        justify-content: center;
    }
    .texto-recom{
        position: absolute;
        bottom: 0.5px;
        left: 0%;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        color: white;
    
    }
    .cta{
        background-image: url("../imagenes/texturas/fondoformulario.png");
    }
    footer{
        background-color: #14141B;
    }
    .redes img{
        width:7vw;
    }
    .redes-desktop{
        display: flex;
    }
    .redes-mobile{
        display: none;
    }
    .redes h5{
       font-size: 20px;
    }
}
